.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 11);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 11, 1) 0%,
    rgba(13, 6, 0, 1) 100%
  );
}
